@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #121A2E;
    --border-color: #26314f;
}


.max-page-width {
  max-width: 920px;
}

.bg-color {
  background-color: var(--background);
}

.add-border {
    border-color: var(--border-color);
    border-width: 1px;
}

